<div class="row">

    <div class="col-md-4">
      <div class="media block-6">
        <div class="icon"><span class="ion-ios-bulb"></span></div>
        <div class="media-body">
          <h3 class="heading">Our Mission</h3>
          <p>Empower through education, enrich with spirituality, uplift communities, and bridge divides to build a brighter, united India.</p>
          <p><a href="{% url 'about' %}" class="link-underline ">Learn More</a></p>
        </div>
      </div>     
    </div>

    <div class="col-md-4">
      <div class="media block-6">
        <div class="icon"><span class="ion-ios-cash"></span></div>
        <div class="media-body">
          <h3 class="heading">Make Donations</h3>
          <p>Support our vision for a brighter, inclusive India. Your contribution empowers education, uplifts lives, and strengthens communities.</p>
          <p><a href="{% url 'donate' %}" class="link-underline">Learn More</a></p>
        </div>
      </div>  
    </div>

    <div class="col-md-4">
      <div class="media block-6">
        <div class="icon"><span class="ion-ios-contacts"></span></div>
        <div class="media-body">
          <h3 class="heading">We Need Volunteers</h3>
          <p>Join us in empowering communities, nurturing minds, and fostering positive change across India through dedicated service.</p>
          <p><a href="#volunteers" class="link-underline">Learn More</a></p>
        </div>
      </div> 
    </div>

  </div>